<div class="container">
  <h1 class="text-center my-3">Ajouter un nouvel utilisateur</h1>
  <form class="formulaire" [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        type="email"
        placeholder="Ex. john.doe@mns.com"
        matInput
      >
      @if (formulaire.get('email')?.hasError('required')) {
        <mat-error>Le champs est obligatoire</mat-error>
      } @else if (formulaire.get('email')?.hasError('email')) {
        <mat-error>Le format de l'email est incorrect</mat-error>
      } @else if (formulaire.get('email')?.hasError('pattern')) {
        <mat-error>L'erreur de pattern</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        formControlName="password"
        type="password"
        placeholder="Votre mot de passe"
        matInput
      >
      <mat-error>Le champs est obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Prenom</mat-label>
      <input
        formControlName="firstname"
        type="text"
        placeholder="Ex. John"
        matInput
      >
      <mat-error>Le champs est obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input
        formControlName="lastname"
        type="text"
        placeholder="Ex. Doe"
        matInput
      >
      <mat-error>Le champs est obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        @for (role of listeRoles; track role) {
          <mat-option [value]="role">{{role}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">
      @if (this.idUtilisateur) {
        Modifier l'utilisateur
      } @else {
        Ajouter l'utilisateur
      }
    </button>
  </form>
</div>
