<div class="wrapper">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand logo" routerLink="/home">
        <img src="/assets/images/mns-ticket-removebg.png" alt="Logo de MNS Ticketing">
      </a>
      <button class="navbar-toggler bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white fs-5" routerLinkActive="active" aria-current="page" routerLink="/home">Accueil</a>
          @if(authentification.role === "Administrateur" || authentification.role === "Gestionnaire") {
            <a class="nav-link text-white fs-5" routerLinkActive="active" routerLink="/manage-user">Gérer les utilisateurs</a>
          }
        </div>
        @if(authentification.role) {
          <button class="ms-auto" mat-raised-button color="primary" (click)="onLogout()">Déconnecter</button>
        } @else {
          <button routerLink="/connexion" class="ms-auto" mat-raised-button color="primary">Se connecter</button>
        }
      </div>
    </div>
  </nav>
  <div class="main-content">
    <router-outlet />
  </div>
  <section class="mt-5">
    <!-- Footer -->
    <footer class="text-center text-white bg-dark" style="background-color: #0a4275;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Tous droits réservés:
        <a class="text-white" href="/">MNSTicket.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
</div>

