<div class="container">
  @if (authentification.role) {
    <div class="h4 my-4 d-flex justify-content-between">
      <span>Salut, {{authentification.firstname + " " + authentification.lastname}}</span>
      <span>Role: {{authentification.role}}</span>
    </div>

  @if (authentification.role == 'Etudiant') {
    <a class="my-3" routerLink="/new-ticket" mat-raised-button color="primary">Ajouter un nouveau ticket</a>
  }

    <hr class="border border-danger border-2 opacity-50">

    <div>
      <div class="d-flex flex-column justify-content-center align-items-center border p-4 fs-4 mb-2">
        <span class="mb-2">Nombre de tickets</span>
        <span>{{totalTickets}}</span>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center border p-4 fs-4 mb-2">
        <span class="mb-2">Nombre de tickets pas resolu:</span>
        <span>{{ticketsNotResolved}}</span>
      </div>
    </div>

    <hr class="border border-danger border-2 opacity-50">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tickets">

      <ng-container matColumnDef="ticket_nom">
        <th mat-header-cell *matHeaderCellDef> Ticket nom </th>
        <td mat-cell *matCellDef="let element"> {{element.ticket_nom}} </td>
      </ng-container>

      <ng-container matColumnDef="ticket_date_creation">
        <th mat-header-cell *matHeaderCellDef> Date creation </th>
        <td mat-cell *matCellDef="let element"> {{this.convertDateFormat(element.ticket_date_creation)}} </td>
      </ng-container>

      <ng-container matColumnDef="message_count">
        <th mat-header-cell *matHeaderCellDef> Nombre de messages </th>
        <td mat-cell *matCellDef="let element"> {{element.message_count}} </td>
      </ng-container>

      <ng-container matColumnDef="statut_nom">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element">
          @if (element.statut_id == 1) {
            {{element.statut_nom}}
          } @else {
            {{element.statut_nom + " le " + this.convertDateFormat(element.ticket_date_resolution)}}
          }
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="['ticket_nom', 'ticket_date_creation', 'statut_nom', 'message_count']"></tr>
      <tr class="ticket-link" (click)="onTicketClick(row.ticket_id)" mat-row *matRowDef="let row; columns: ['ticket_nom', 'ticket_date_creation', 'statut_nom', 'message_count'];"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements"
                   (page)="onPaginatorChange($event)"
                   [length]="totalTickets"
    >

    </mat-paginator>
    @if (hasSpinner) {
      <div class="table-overlay">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
  } @else {
    <h1 class="text-center my-4">Pour utiliser les services, veuillez vous connecter</h1>
    
    <h2 class="text-center my-4">Message de Sécurité</h2>

    <div>
      <p>Pour des raisons de sécurité, j'ai restreint certaines fonctionnalités de ce site. Les utilisateurs ne peuvent plus ajouter de nouveaux messages ou tickets dans la base de données. Ils peuvent seulement changer le statut des tickets déjà ouverts.</p>

      <p>Si vous souhaitez tester le site avec toutes ses fonctionnalités, vous pouvez télécharger le répertoire complet depuis
        <a href="https://github.com/ladrom/mns-ticket">GitHub</a>.</p>

      <p>Pour faciliter les tests, deux comptes utilisateurs sont disponibles en accès libre :</p>

      <ul>
        <li>Jessica Jones (Gestionnaire) : jessica.jones&#64;example.org</li>
        <li>Mark Taylor (Étudiant) : mark.taylor&#64;example.net</li>
        <li>Le mot de passe pour ces deux comptes est : <strong>toto</strong> </li>
      </ul>

      <p>Merci de votre compréhension.</p>
    </div>

    <div class="image">
      <img src="/assets/images/ticket.png" alt="MNS Ticketing">
    </div>
  }
</div>